@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d67d45;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF7E6;
    --foreground: #000000;
   
  }
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'CendarVille';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/CedarvilleCursive-Regular.ttf') format('truetype');
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto';
  overflow: auto;
}
