@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8ebe7;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #9c6756;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto';
}
